<img src="https://i.imgur.com/N1DXRkz.png" class="img-thumbnail"/>


<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1alchemy" type="button" role="tab" aria-controls="tab1" aria-selected="true">Info</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2alchemy" type="button" role="tab" aria-controls="tab2" aria-selected="false">Samples</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3alchemy" type="button" role="tab" aria-controls="tab3" aria-selected="false">Books</button>
  </li>
</ul>

<!-- Tab content -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active p-3" id="tab1alchemy" role="tabpanel" aria-labelledby="tab1-tab">
    Alchemy is an ancient practice that blends science, philosophy, and spirituality. Many people know it for the old goal of turning lead into gold, but there’s much more to it. Alchemists often worked with symbols, experiments, and mysterious writings, aiming to understand the nature of matter and the universe. On a deeper level, alchemy is about transformation — not just of metals, but of the self. In spiritual terms, it’s the process of refining and purifying the soul, just like a metal is purified in fire. Its rich symbols, like the ouroboros (a snake eating its tail), carry lessons about cycles, renewal, and unity. While modern science grew from some of alchemy’s experiments, the mystical side still inspires seekers today. It’s a reminder that transformation — whether physical, mental, or spiritual — is always possible.
  </div>
  <div class="tab-pane fade p-3" id="tab2alchemy" role="tabpanel" aria-labelledby="tab2-tab">
    
  </div>
  <div class="tab-pane fade p-3" id="tab3alchemy" role="tabpanel" aria-labelledby="tab3-tab">
    
  </div>
</div>
<hr/>


