<div class="d-flex justify-content-center align-items-center gap-2">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#quickLinksModal">
        <i class="bi bi-list" style="font-size: 1rem;"></i>
    </button>
    
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#pricingModalMoonlight">
        Info
    </button>
    
    <a style="color: black !important; text-decoration: none; padding: 10px 2px; font-size: 12px;" class="gumroad-button btn btn-secondary" href="https://midnightbard.gumroad.com/l/esotpw" data-gumroad-overlay-checkout="true">
    TIP
</a>
    
    <a style="color: white !important; text-decoration: none;" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=94EFKHDSXWJ26" target="_blank" class="btn btn-primary d-flex align-items-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#00457C" class="bi bi-paypal" viewBox="0 0 16 16">
        <path d="M5.5 13.5l.5-3h1.5c2.74 0 4.42-1.09 4.88-3.22.35-1.56-.05-2.77-1.22-3.6-.8-.58-1.88-.88-3.27-.88H4.06a.5.5 0 0 0-.49.41L2 13.59c-.05.29.17.55.47.55h2.35a.5.5 0 0 0 .5-.41l.18-1.23z"/>
    </svg>
    TIP
</a>

</div>