<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#quickLinksModal">
        <i class="bi bi-list" style="font-size: 1.5rem;"></i>
    </button>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#pricingModalMoonlight">
        Info
    </button>
    
    
    <a style="color:black!important; text-decoration:none;" class="gumroad-button" href="https://midnightbard.gumroad.com/l/youtube-tarot" data-gumroad-overlay-checkout="true">Tip</a>