<script>
  document.addEventListener("DOMContentLoaded", function() {
    const apiUrl = 'http://ip-api.com/json/?fields=countryCode';

    fetch(apiUrl)
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        const countryCode = data.countryCode;

        const blockedCountries = ['HR', 'RU', 'CN']; 

        if (blockedCountries.includes(countryCode)) {
          const elementsToHide = document.querySelectorAll('.aiss');
          elementsToHide.forEach(el => {
            el.style.display = 'none';
          });
        }
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
  });
</script>