<style>
.ipa {
  display: none; 
}
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const apiUrl = 'http://ip-api.com/json/?fields=countryCode';

  fetch(apiUrl)
    .then(response => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then(data => {
      const countryCode = data.countryCode;
      if (countryCode) {
        const allowedCountries = ['US', 'CA', 'NZ', 'AU', 'MC', 'LI', 'LU', 'IE', 'CH', 'NO', 'IS', 'DK', 'NL', 'SM', 'SE', 'AT', 'BE', 'DE', 'AD', 'FI', 'FR', 'GB', 'IT', 'ES', 'PL', 'HR'];
        if (allowedCountries.includes(countryCode)) {
          const elementsToShow = document.querySelectorAll('.ipa');
          elementsToShow.forEach(element => {
            element.style.display = 'block';
          });
        }
      }
    })
    .catch(error => {
      console.error('There was a problem with the fetch operation:', error);
    });
});
    
    </script>


<script>
document.addEventListener('contextmenu', event => event.preventDefault()); // disable right click
document.addEventListener('keydown', function(event) {
  if (event.ctrlKey && (event.key === 'u' || event.key === 'U' || event.key === 's' || event.key === 'S')) {
    event.preventDefault();
  }
  if (event.ctrlKey && event.shiftKey && (event.key === 'i' || event.key === 'I')) {
    event.preventDefault();
  }
});
</script>