<nav class="navbar bg-tertiary" data-bs-theme="dark" fixed-top>
  <div class="container-fluid">
    
<a class="navbar-brand" href="/"><h1><i class="bi bi-cloud-moon"></i></h1></a>
<a class="navbar-brand" href="/shop"><h1><i class="bi bi-bag"></i></h1></a>
<a class="navbar-brand" href="/updates"><h1><i class="bi bi-journal"></i></h1></a>
<a class="navbar-brand" href="/contact-us/"><h1><i class="bi bi-envelope-at"></i></h1></a>
    
    
    
    
  <span class="ipa">  
<button class="navbar-toggler"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        
  
        
      <h2><i class="bi bi-list"></i></h2>
    </button> </span>
    
    
    <div class="offcanvas offcanvas-end text-bg-dark bg-dark text-light p-3" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><i class="bi bi-moon"></i>   </h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
  
     
<div class="offcanvas-body">
    

<a href="/diary"><i class="bi bi-journal-richtext">  </i>Diary</a>  <br/>

<a href="/lives"><i class="bi bi-youtube">  </i>Lives</a><br/>

    <hr/>
  
  

      </div>
    </div>
</div>
    
</nav>





