<nav class="navbar bg-tertiary" data-bs-theme="dark" fixed-top>
  <div class="container-fluid">
<a class="navbar-brand" href="/"><h3><i class="bi bi-cloud-moon">  HOME</i></h3></a>
<a class="navbar-brand" class="ipa" href="/shop"><h3><i class="bi bi-bag">  Shop</i></h3></a>
<a class="navbar-brand" href="/activity"><h3><i class="bi bi-book">  Activity</i></h3></a>
<a class="navbar-brand" href="/lives"><h3><i class="bi bi-youtube">  Lives</i></h3></a>
    

    
    
    
<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        
  
        
      <h2><i class="bi bi-list"></i></h2>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark bg-dark text-light p-3" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><i class="bi bi-moon"></i>   MIDNIGHT BARD</h5>
        <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
<div class="offcanvas-body">
  
 <!-- <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><i>LINKS</i></h5>
    
  <a href="https://github.com/midnightbard"><i class="bi bi-github"></i> Github</a>  <br/>  
  <a href="https://bsky.app/profile/midnightbardtarot.bsky.social" rel="me"><i class="bi bi-bluesky"></i> Bluesky</a><br/>
  <a href="https://www.youtube.com/@MidnightBardTarot" rel="me"><i class="bi bi-youtube"></i> YouTube</a>
    <br/>  -->
  
  <hr/>
    
<h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">CONTACT</h5>


<p>
    <small>
<i class="bi bi-envelope"></i>  support@midnightbard.com<br/>     
      
   </small>
</p> 
    
<hr/>
  <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">MY BLOGS</h5>
  
<a href="/"><i class="bi bi-star"></i> Blog</a> - spirituality; main<br/> 
<a href="/updates"><i class="bi bi-wrench">  </i>Updates</a> - tech and internet<br/>
<a href="/diary"><i class="bi bi-journal-richtext">  </i>Diary</a> - hobbies and interests    
    

      </div>
    </div>
</div>
    
</nav>


