<div id="desktopvisible" class="card" style="width: 100%;">

   
  {% if page.gallery %}
     
      <div id="carouselExampleIndicators2" class="carousel slide">
           <h4>Gallery</h4>
        <div class="carousel-indicators2">
          {% for image in page.gallery %}
            <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.index }}">
            </button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for image in page.gallery %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ image }}" class="d-block w-100" alt="...">
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% endif %}  
    
    
    {% if page.photos %}
    
      <div id="carouselExampleIndicators3" class="carousel slide">
          <h4>Photos</h4>
        <div class="carousel-indicators3">
          {% for image in page.photos %}
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.index }}">
            </button>
          {% endfor %}
        </div>
        <div class="carousel-inner">
          {% for image in page.photos %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ image }}" class="d-block w-100" alt="...">
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% endif %}  
    
    
       
</div>




<script>
    document.addEventListener('DOMContentLoaded', function () {
      var sidebar = document.getElementById('sidebar-plus');
      var totalPosts = document.createElement('p');

      totalPosts.textContent = 'Total posts: ' + {{ site.technology | size }};
      sidebar.appendChild(totalPosts);
    });
  </script>
    
    
    <b><div id="sidebar-plus"></div></b>


<div id="blog-archive">
    <h4>Updates</h4>
    <select id="archive-year"></select>
    <select id="archive-month"></select>
    <div id="archive-posts"></div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () { 
    var archiveYearSelect = document.getElementById('archive-year');
    var archiveMonthSelect = document.getElementById('archive-month');
    var archivePostsContainer = document.getElementById('archive-posts');
    var offset = 0;
    var limit = 31;
    var jsonData;

    loadMorePosts();

    function loadMorePosts() {
        var apiUrl = '/feed-technology.json';

        fetch(apiUrl)
            .then(response => response.text())
            .then(data => {
                console.log('Raw JSON data:', data);
                jsonData = JSON.parse(data);
                updateBlogArchive();
            })
            .catch(error => {
                console.error('Error fetching posts:', error);
            });
    }

    function renderResult(post) {
        function getIcon(media) {
            if (media === "instagram") return '<i class="bi bi-instagram"></i>';
            if (media === "journal") return '<i class="bi bi-journal"></i>';
            if (media === "photo") return '<i class="bi bi-image"></i>';
            if (media === "video") return '<i class="bi bi-camera-reels"></i>';
            return ''; 
        }

        var iconHtml = getIcon(post.media);

        return `<div class="archive-link">
                    <a href="${post.url}">${iconHtml}  ${post.title}</a>
                </div>`;
    }

    function updateBlogArchive() {
        if (archiveYearSelect && archiveMonthSelect) {
            
            archiveYearSelect.innerHTML = '';
            archiveMonthSelect.innerHTML = '';

            
            var years = [...new Set(jsonData.map(post => new Date(post.date).getFullYear()))];
            var months = [...new Set(jsonData.map(post => new Date(post.date).toLocaleString('default', { month: 'long' })))];

            
            years.forEach(year => {
                var option = document.createElement('option');
                option.value = year;
                option.textContent = year;
                archiveYearSelect.appendChild(option);
            });

            
            months.forEach(month => {
                var option = document.createElement('option');
                option.value = month;
                option.textContent = month;
                archiveMonthSelect.appendChild(option);
            });

            
            archiveYearSelect.addEventListener('change', updatePostsByYearMonth);
            archiveMonthSelect.addEventListener('change', updatePostsByYearMonth);

            
            var currentYear = new Date().getFullYear();
            archiveYearSelect.value = Math.max(...years, currentYear).toString();
            archiveMonthSelect.value = new Date().toLocaleString('default', { month: 'long' });

            
            updatePostsByYearMonth();
        }
    }

    function updatePostsByYearMonth() {
        var selectedYear = archiveYearSelect.value;
        var selectedMonth = archiveMonthSelect.value;

        var filteredPosts = jsonData.filter(post => {
            var postYear = new Date(post.date).getFullYear();
            var postMonth = new Date(post.date).toLocaleString('default', { month: 'long' });

            return (selectedYear === 'All' || postYear.toString() === selectedYear) &&
                   (selectedMonth === 'All' || postMonth === selectedMonth);
        });

        var results = filteredPosts.slice(offset, offset + limit).map(post => renderResult(post)).join('');
        archivePostsContainer.innerHTML = results;
    }
});

</script>


<hr>

<script>
document.addEventListener('DOMContentLoaded', function () {
  var sidebarBlog = document.getElementById('sidebar-blog2');
  var totalBlogPosts = document.createElement('p');

  totalBlogPosts.textContent = 'Total Articles: ' + {{ site.blogs | size }};
  sidebarBlog.appendChild(totalBlogPosts);
});
</script>




<style>
  .github-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .github-stats img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }

  @media (max-width: 600px) {
    .github-stats {
      flex-direction: column;
      align-items: center;
    }
  }
</style>

<div class="github-stats">
  <img src="https://github-readme-stats.vercel.app/api?username=midnightbard&theme=gotham&show=reviews,discussions_started,discussions_answered,prs_merged,prs_merged_percentage&show_icons=true&custom_title" alt="GitHub Stats">
  <img src="https://github-readme-stats.vercel.app/api/top-langs/?username=midnightbard&&show_icons=true&locale=en&theme=gotham" alt="ovi" />
<img src="https://github-profile-trophy.vercel.app/?username=midnightbard&column=4&title=-Stars,-Followers,-PullRequest,-Reviews&theme=darkhub" />
</div>
<br/><br/>


