<div style="display: flex; flex-direction: column; align-items: center; gap: 15px;">

  <div class="social-buttons-row">
      
      <a href="https://www.youtube.com/@MidnightBardTarot" class="social-btn btn" style="background-color:#000;" target="_blank" rel="noopener noreferrer" title="Subscribe on YouTube">
      <i class="fa-brands fa-youtube text-white"></i>
    </a>
    
    
    <a href="https://ko-fi.com/midnightbard" class="social-btn btn" style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="KoFi">
      <i class="fa fa-shopping-bag text-white"></i>
    </a>

     
      
  <a href="https://www.tiktok.com/@midnightbardtarot" class="social-btn btn"  style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="Follow me on TikTok">
      <i class="fa-brands fa-tiktok text-white"></i>
    </a>  
    
    <a href="https://www.instagram.com/midnightbardtarot/" class="social-btn btn" style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="Follow me on">
      <i class="fa-brands fa-instagram text-white"></i>
    </a>
    
    <a href="https://www.threads.net/@midnightbardtarot" class="social-btn btn" style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="Follow me on Threads">
      <i class="fa-brands fa-threads text-white"></i>
    </a>
   </div> 
    
  
      

<div class="social-buttons-row">
  

  
  <a href="https://www.reddit.com/user/midnightbard_/" class="social-btn btn" style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="Follow me on">
      <i class="fa-brands fa-reddit text-white"></i>
    </a>
  
  <a href="https://www.quora.com/profile/Midnight-Bard" class="social-btn btn" style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="Follow me on">
      <i class="fa-brands fa-quora text-white"></i>
    </a>
  
  <a href="https://www.linkedin.com/in/midnight-bard/" class="social-btn btn" style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="Follow me on">
      <i class="fa-brands fa-linkedin text-white"></i>
    </a>
  
   <a href="https://bsky.app/profile/midnightbardtarot.bsky.social" class="social-btn btn" style="background-color:#000;" target="_blank" rel="noopener noreferrer" title="Follow me on Bluesky">
      <i class="bi bi-bluesky text-white"></i>
    </a>
  
  <a href="https://peakd.com/@moonlitenite" class="social-btn btn" style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="Follow me on">
      <i class="fa-brands fa-hive text-white"></i>
    </a>

</div>
  
</div>

<style>

.social-buttons-row {
  display: flex;
  justify-content: center; 
  gap: 5px; 
}


.social-btn {
  width: 50px;  
  height: 50px; 
  display: flex;
  align-items: center;   
  justify-content: center; 
}


.social-buttons-row i {
  font-size: 1.5rem; 
}


.btn-tumblr {
  background-color: #35465c;
  border-color: #35465c;
}

.btn-tumblr:hover {
  background-color: #273444;
  border-color: #273444;
}
</style>