<div style="display: flex; flex-direction: column; align-items: center; gap: 15px;">

  <div class="social-buttons-row">
      
      <a href="https://www.youtube.com/@MidnightBardTarot" class="social-btn btn" style="background-color:#ff0202;" target="_blank" rel="noopener noreferrer" title="Subscribe on YouTube">
      <i class="fa-brands fa-youtube text-white"></i>
    </a>
    
    
    <a href="https://ko-fi.com/midnightbard" class="social-btn btn" style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="KoFi">
      <i class="fa fa-shopping-bag text-white"></i>
    </a>

      <a href="https://bsky.app/profile/midnightbardtarot.bsky.social" class="social-btn btn" style="background-color:#0886fe;" target="_blank" rel="noopener noreferrer" title="Follow me on Bluesky">
      <i class="bi bi-bluesky text-white"></i>
    </a>
      
  <a href="https://www.tiktok.com/@midnightbardtarot" class="social-btn btn"  style="background-color:#000000;" target="_blank" rel="noopener noreferrer" title="Follow me on TikTok">
      <i class="fa-brands fa-tiktok text-white"></i>
    </a>  
      

  </div>

</div>

<style>

.social-buttons-row {
  display: flex;
  justify-content: center; 
  gap: 5px; 
}


.social-btn {
  width: 50px;  
  height: 50px; 
  display: flex;
  align-items: center;   
  justify-content: center; 
}


.social-buttons-row i {
  font-size: 1.5rem; 
}


.btn-tumblr {
  background-color: #35465c;
  border-color: #35465c;
}

.btn-tumblr:hover {
  background-color: #273444;
  border-color: #273444;
}
</style>