<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <title>{{page.title}}</title>
{% include head.html %}
</head>
    
    
<body>
    
            

                    {{ content }}

    
    
        
        <button id="goTopBtn" onclick="goTop()"><h2><i class="bi bi-arrow-up-short"></i></h2></button>
        
        <script>
            window.onscroll = function() { scrollFunction(); };
            function scrollFunction() {
                var btn = document.getElementById("goTopBtn");
                var scrollPercentage = (document.documentElement.scrollTop + window.innerHeight) / document.documentElement.scrollHeight * 100;
                if (scrollPercentage > 30 && document.body.clientHeight > window.innerHeight) {
                    btn.style.display = "block";
                } else {
                    btn.style.display = "none";
                }
            }
            function goTop() {
                document.body.scrollTop = 0; 
                document.documentElement.scrollTop = 0; 
            }
        </script>
        
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var images = document.querySelectorAll('img');
            images.forEach(function (image) {
              image.addEventListener('click', function (event) {
                if (!event.target.classList.contains('rounded-image')) {
                  event.preventDefault();
                  console.log('Image click prevented.');
                }
              });
              image.addEventListener('contextmenu', function (event) {
                if (!event.target.classList.contains('rounded-image')) {
                  event.preventDefault();
                  console.log('Context menu prevented.');
                }
              });
            });
          });
        </script>
    
    
{% include crisp.html %}
    
</body>
</html>
