<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <title>{{page.title}}</title>
{% include head.html %}
</head>
    
    
<body class="aiss">
 {{ content }}

    
    
        
        
        <script>
          document.addEventListener('DOMContentLoaded', function () {
            var images = document.querySelectorAll('img');
            images.forEach(function (image) {
              image.addEventListener('click', function (event) {
                if (!event.target.classList.contains('rounded-image')) {
                  event.preventDefault();
                  console.log('Image click prevented.');
                }
              });
              image.addEventListener('contextmenu', function (event) {
                if (!event.target.classList.contains('rounded-image')) {
                  event.preventDefault();
                  console.log('Context menu prevented.');
                }
              });
            });
          });
        </script>
    
    

    
</body>
</html>
